body{
    height: 100%;
    width: 100%;
    font-size: 16px;
    padding: 0%;
    margin: 0%;
}
.grid-container0{
    display: grid;
    grid-template-rows: 20% 100% 25%;
}
header{
    display: grid;
    grid-template-columns: 15% 80%;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: chartreuse;
}
main{
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 10px;
}
footer{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    bottom: 0%;
    position: relative;
    height: 100px;
    width: 100%;
    background-color: chartreuse;
    padding: 0%;
}
.item1{
    font-size: 40px;
    text-align: center;
    text-decoration: double;
}
.item2{
    display: grid;
}
.item3{
    text-align: right;
    font-size: 25px;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
a:hover{
    color: red;
}
.item4{
    font-size: 20px;
}
.button{
    color: white;
    background-color: black;
    width: 3rem;
}
.item5{
    font-size: 25px;
}
li{
    list-style-type: none;
}
.item6{
    text-align: center;
    color: brown;
    font-size: 30px;
}